{% extends 'base.html.twig' %}

{% block title %}Edit Devise{% endblock %}

{% block body %}
    <h1>Edit Devise</h1>

    {{ include('devise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('devise_index') }}">back to list</a>

    {{ include('devise/_delete_form.html.twig') }}
{% endblock %}
