<!-- start footer -->
<div class="page-footer">
    <div class="page-footer-inner"> 2020 &copy; komptApp created By
        <a href="mailto:contact@enywork.com" target="_top" class="makerCss">ENYWORK</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- end footer -->