{% extends 'base.html.twig' %}

{% block title %}Edit Orientation{% endblock %}

{% block body %}
    <h1>Edit Orientation</h1>

    {{ include('orientation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('orientation_index') }}">back to list</a>

    {{ include('orientation/_delete_form.html.twig') }}
{% endblock %}
