<div class="container-fluid mt-5">
    <table class="table table-hover" id="example">
        <thead>
            <tr >
                <th class="text-bold">N°</th>
                <th class="text-bold">Date</th>
                <th class="text-bold">no_event</th>
                <th class="text-bold">Motif</th>
                <th class="text-bold">Matricule</th>
                <th class="text-bold">Noms</th>
                <th>Section</th>
                <th class="text-bold">Montant</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr >
                <th class="text-bold">N°</th>
                <th class="text-bold">Date</th>
                <th class="text-bold">no_event</th>
                <th class="text-bold">Motif</th>
                <th class="text-bold">Matricule</th>
                <th class="text-bold">Noms</th>
                <th>Section</th>
                <th class="text-bold">Montant</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>