<!-- chart start -->
<div class="row">
    <div class="col-sm-8">
        <div class="card card-box">
            <div class="card-head">
                <header>Entrées/Sorties</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body no-padding height-9">
                <div class="row">
                    <canvas id="canvas1"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-box">
            <div class="card-head">
                <header>Frais académique</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body no-padding height-9">
                <div class="row">
                    <canvas id="chartjs_pie"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chart end -->