<!-- start widget -->
<div class="state-overview">
    <div class="row">
        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-b-green">
                <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Etudiants</span>
                    <span class="info-box-number">7500</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 45%"></div>
                    </div>
                    <span class="progress-description">
                        45% ont payé <a href="#">(detail)</a> 
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-b-yellow">
                <span class="info-box-icon push-bottom"><i class="material-icons">person</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Comptes</span>
                    <span class="info-box-number">235</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 40%"></div>
                    </div>
                    <span class="progress-description">
                        40% mis à jour
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-b-blue">
                <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Entrées mensuelles</span>
                    <span class="info-box-number">13,921</span><span>$</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description">
                        50% que le dernier mois
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-b-pink">
                <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Sorties mensuelles</span>
                    <span class="info-box-number">3,921</span><span>$</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%"></div>
                    </div>
                    <span class="progress-description">
                        75% que le dernier mois
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
</div>
<!-- end widget -->