<form method="post" action="{{ path('eny_section_delete', {'id': eny_section.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eny_section.id) }}">
    <button class="btn">Delete</button>
</form>
