{% extends 'base.html.twig' %}

{% block title %}New EnyBank{% endblock %}

{% block body %}
    <h1>Create new EnyBank</h1>

    {{ include('eny_bank/_form.html.twig') }}

    <a href="{{ path('eny_bank_index') }}">back to list</a>
{% endblock %}
