{% extends 'base.html.twig' %}

{% block title %}Edit EnyBankingInfo{% endblock %}

{% block body %}
    <h1><i class="fa fa-edit"></i> Modification </h1>

    {{ include('eny_banking_info/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('eny_banking_info/_delete_form.html.twig') }}
{% endblock %}
