{% extends 'base.html.twig' %}

{% block title %}Comptes::komptApp{% endblock %}

{% block body %}
    <h1>Enregistrement du nouveau compte bancaire</h1>
    <div class="container">
        {{ include('eny_banking_info/_form.html.twig') }}    
    </div>

    
{% endblock %}
