<div class="alert alert-danger">
        <h3><i class="fa fa-info"></i> <b>Attention</b></h3> 
        <p class="text-important">
            Il y a quelques opérations d'entrées (<b>{{ mvtsError|length }}</b>) qui ne sont pas attachées à une rubrique, 
            <a href="{{ path('eny_dispatch_index') }}#tab2"><i class="fa fa-hand-o-up" aria-hidden="true"></i> Cliquez ici pour les corriger</a>
        </p>
</div>